{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %} {% endblock %}
  </head>
  <body>
    {% block content %}
    <main
      class="container-fluid d-flex justify-content-center align-items-center"
      style="height: 80vh;"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3><strong>Live Streaming</strong></h3>
            <img class="img-fluid m-4" src="{{ url_for('video_feed') }}" />
          </div>
          <div class="col d-flex justify-content-center">
            <a href="/control/left"
              ><button type="button" class="btn btn-info m-2">Left</button></a
            >
            <a href="/control/reset"
              ><button type="button" class="btn btn-light m-2">Reset</button></a
            >
            <a href="/control/right"
              ><button type="button" class="btn btn-info m-2">Right</button></a
            >
          </div>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
