{% extends "layout.html" %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %} {% endblock %}
  </head>
  <body>
    {% block content %}
    <main
      class="container-fluid d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mt-4">
            <h3><strong>Photos</strong></h3>
          </div>
          {% for x in context %}
          <div class="col-sm-6 col-md-3 col-lg-2" target="_blank">
            <a href="photos/{{x}}"
              ><img class="img-fluid rounded m-4" src="photos/{{x}}"
            /></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
